body{
    margin: 0px;
}
#navbar{
    width: 100%;
    height: 60px;
    background-color: rgb(15, 14, 14);
}
#logo{
float: left;
width:20%;
}
.logo_name{
    color: aliceblue;
    font-size: x-large;
}