body {
  margin: 0;
}
html {
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: rgba(250, 85, 134, 0.888);
}
html::-webkit-scrollbar-thumb {
  background: #e60202;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  position: relative;
}
.slide-container .slide {
  display: contents;
  width: auto;
}
.slide-container .slide.fade {
  animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.slide-container .slide img {
  width: 100%;
}
/* As of now, the slide display property is set to none which makes them not visible. We will be adding the visibility in the JavaScript in the later part.
  
  But for now, let's first add some styling to the previous buttons and the dots. */

.slide-container .prev,
.slide-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slide-container .prev:hover,
.slide-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.slide-container .prev {
  left: 2px;
  text-decoration: none;
}

.slide-container .next {
  right: 2px;
  text-decoration: none;
}
